.set-height .slick-initialized {
    max-height: 664px
}

.set-height .slick-initialized .slick-caption {
    padding-bottom: 92px;
}

.make-hover-feedback {
    color: white !important;
    background-color: #9c27b0;
}

.make-hover-feedback:hover {
    background-color: white;
    color: #9c27b0 !important;
}

.slick-list {
    position: static !important;
}

.Blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    right: 3px;
}

@keyframes blinker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.make-hover-feedback {
    width: 150px;
    color: white !important;
    background-color: #9c27b0 !important;
    border: 1px solid white !important;
}

.make-hover-feedback-hover:hover {
    width: 150px;
    background-color: white !important;
    color: #9c27b0 !important;
    border: 1px solid #9c27b0 !important;
}

.make-hover-feedback-disable {
    width: 150px;
    opacity: 0.9;
    color: white !important;
    cursor: not-allowed !important;
    background-color: #fff !important;
    border: 1px solid #9c27b0 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.mt-10 {
    margin-top: 10px !important;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #9c27b0;
}

::-webkit-scrollbar-thumb:hover {
    background: #193778;
}

#cd-vertical-nav {
    right: -101px !important;
}

#cd-vertical-nav a {
    color: #9c27b0 !important;
}

.slider-data {
    text-align: start;
    width: 556px;
    color: white;
    border-left: 5px solid green;
    padding-left: 10px;
    font-weight: 600;
}

.book-btn {
    background: #9c27b0 !important;
    color: white !important;
    margin-right: 30px !important;
}

.book-btn:hover {
    opacity: 0.9;
}

.slider-client-mock .slick-slide img {
    display: unset !important;
}

.slider-client-mock .slider-client {
    width: 100%;
    display: contents !important;
}

.slider-client-mock .slick-slide {
    outline: none !important;
    width: 342px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}